@tailwind base;
@tailwind components;
@tailwind utilities;
.form-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  padding: 15px;
  width: 320px;
  background: white;
  border-radius: 10px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.form-wrapper input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 7px;
}
.form-wrapper label {
  font-weight: 600;
}
.form-wrapper .auth-button {
  border-radius: 5px;
  background: dodgerblue;
  color: white;
  padding: 4px 0;
}
.form-wrapper .auth-field {
  display: flex;
  flex-direction: column;
}
.form-wrapper .account-message a {
  color: dodgerblue;
}

.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 3px;
}

.burger-dropdown-menu {
  border-radius: 10px;
  width: 200px;
  position: absolute;
  display: none;
  background: white;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.burger-dropdown-menu.open {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}
.dropdown-item span {
  display: block;
  width: 100%;
  padding: 3px;
  transition: 0.2s ease;
}
.dropdown-item span:hover {
  background: #f4f4f5;
  transition: 0.2s ease;
  border-radius: 5px;
}

.left-column {
  padding: 0 10px;
  width: 25%;
  height: 100%;
  border-right: 1px solid #dadce0;
  display: flex;
  flex-direction: column;
}
.left-column .chat-list {
  overflow-y: scroll;
  overscroll-behavior: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
}

.search-bar {
  position: relative;
  margin-left: 12px;
  width: 100%;
}
.search-bar input {
  width: 100%;
  padding: 7px 30px;
  background: #f4f4f5;
  border-radius: 20px;
}
.search-bar svg {
  position: absolute;
  top: 15%;
  left: 2%;
}

.chat-container {
  border-radius: 15px;
  border: 1px solid #dadce0;
  transition: 0.2s ease;
}
.chat-container:hover {
  background: #f4f4f5;
  transition: 0.2s ease;
}
.chat-container .open-chat-button {
  padding: 5px 10px;
  display: flex;
}
.chat-container .status {
  max-width: fit-content;
}
.chat-container .avatar img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.chat-container .info {
  margin-left: 5px;
}

.main-section {
  flex: 1 1 auto;
}

body {
  height: 100%;
  overflow: hidden;
}

.page-container {
  display: flex;
}

.page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}