@import '_variables.scss';
.left-column{
  padding: 0 10px;
  width: 25%;
  height: 100%;
  border-right: 1px solid $medium-gray;
  display: flex;
  flex-direction: column;
  .chat-list{
    overflow-y:scroll;
    overscroll-behavior: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

