@import '_variables.scss';
.search-bar{
  position: relative;
  margin-left: 12px;
  width: 100%;
  input{
    width: 100%;
    padding: 7px 30px;
    background: $light-gray;
    border-radius: 20px;
  }
  svg{
    position: absolute;
    top:15%;
    left: 2%;
  }
}
.search-results{
  position: absolute;
  background: #fff;
  width: 100%;
  border-radius: 15px;
  border:1px solid $medium-gray;
  .chat-container{
    border: none;
    border-bottom:1px solid $medium-gray ;
    border-radius: 0;
    &:last-child{
      border-bottom: none;
    }
  }
}