@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'Auth-forms.scss';
@import 'BurgerMenu.scss';
@import 'ChatList.scss';
@import 'Toolbar.scss';
@import 'Search.scss';
@import 'ChatItem.scss';
@import "MainChat.scss";
body{
  height: 100%;
  overflow: hidden;
}
.page-container{
  display: flex;
}